.flex-row {
    display: flex;
    width: 100%;
}

.flex-grow {
    flex-grow: 1;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-light-blue {
    background-color: lightblue;
}

/* Example for specific percentage sizes */
.size-10 {
    flex: 1 1 10%; /* 10% width */
}

.size-20 {
    flex: 1 1 20%; /* 20% width */
}

.size-30 {
    flex: 1 1 30%; /* 30% width */
}

.size-40 {
    flex: 1 1 40%; /* 40% width */
}
